table {
    width: 50em;
    height: 10em;
}

.title {
    background-color: rgb(89, 181, 89);
    color: rgb(139, 7, 7);
}

.name {
    background-color: rgb(250, 202, 130);
    color: rgb(139, 7, 7);
}

.size {
    background-color: rgb(249, 249, 138);
    color: rgb(139, 7, 7);
}

.information {
    color: rgb(139, 7, 7);
    background-image: url(../img/descarga.png);
    background-size: contain;
    background-position-x: center;
    
}

